<mat-card>
  <mat-card-title-group>
    <mat-card-title>Team name</mat-card-title>
    <mat-card-subtitle> Team description </mat-card-subtitle>
    <img mat-card-lg-image src="team imagePath" alt="team name" />
  </mat-card-title-group>
  <mat-card-actions align="end">
    <button mat-raised-button>Add persons</button>
    <button mat-raised-button color="accent">Edit</button>
    <button mat-raised-button color="warn">Delete</button>
  </mat-card-actions>
  <mat-card-content> Team persons </mat-card-content>
</mat-card>
