<form (ngSubmit)="onSubmit()" #form="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input
      type="text"
      matInput
      id="name"
      placeholder="Person role"
      #nameInput="ngModel"
      [ngModel]="defaultName"
      name="name"
      required
    />
    <mat-error *ngIf="!nameInput.valid && nameInput.touched"
      >Enter a valid name</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Work time</mat-label>
    <input
      type="number"
      matInput
      id="workTime"
      #workTimeInput="ngModel"
      ngModel
      name="workTime"
      required
      min="10"
    />
    <mat-hint>Amount of work time</mat-hint>
    <mat-error *ngIf="!workTimeInput.valid && workTimeInput.touched"
      >Work time should be greater than 10</mat-error
    >
  </mat-form-field>
  <mat-divider></mat-divider>
  <div class="row-around">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!form.valid"
    >
      Add
    </button>
    <button mat-raised-button type="button" (click)="clearList()">Clear</button>
    <button
      mat-raised-button
      type="button"
      color="warn"
      (click)="deletePerson()"
      [disabled]="!form.valid"
    >
      Delete
    </button>
  </div>
</form>
