.container {
  border: 1px solid red;

  display: flex;
  height: 100%;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
