.container {
  border: 1px solid red;

  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.content {
  border: 1px solid blue;

  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.subcontent {
  border: 1px solid green;
  text-align: center;
}
