<div class="row-center">
  <div class="column-center">
    <button mat-raised-button>New Team</button>
  </div>
</div>
<hr />
<div class="row-center">
  <div class="column-center">
    <a href="#" *ngFor="let team of teams">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>{{ team.name }}</mat-card-title>
          <mat-card-subtitle>{{ team.description }}</mat-card-subtitle>
          <img
            mat-card-sm-image
            [src]="team.imagePath"
            alt="{{ team.name }}"
            style="width: auto"
          />
        </mat-card-title-group>
      </mat-card>
    </a>
    <app-team-item></app-team-item>
  </div>
</div>
