/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row-center {
  border: 1px solid blue;

  display: flex;

  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.row-around {
  border: 1px solid blue;

  display: flex;

  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.column-center {
  border: 1px solid green;

  display: flex;

  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column-around {
  border: 1px solid green;

  display: flex;

  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.spacer {
  flex: 1 1 auto;
}
